@font-face {
    font-family: 'Alexandria', sans-serif;
    src: url();
}

a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    opacity: 80%;
}

body {
    background: black;
}


#slider {
    position: fixed;
    margin-top: -10px;
    margin-left: -10px;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-color: black;
}

p {
    color: white;
    margin-top: -5px;
    font-family: Alexandria;
    margin-left: 5%;
}

h1 {
    color: white;
    margin-top: 450px;
    margin-left: 5%;
    font-family: Alexandria;
    font-weight: 700;
    font-size: 50px;
}

#logo {
    width: 13%;
    margin-left: 82%;
    margin-top: 3%;
}





#overflow {
    position: absolute;
    margin-left: -5px;
    width: 100%;
    height: 100%;
    background-color: black;
}

#video {
    width: 100%;
    height: 1000px;
}


