@font-face {
    font-family: 'Alexandria', sans-serif;
    src: url();
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    opacity: 70%;
}

img {
    width: 12%;
    margin-top: 20px;
    margin-left: 60px;
}

#post{
    margin: 0 auto;
    width: 80%;
}

#title {
    font-family: Alexandria;
    font-weight: 700;
    font-size: 40px;
}

#content {
    font-family: Alexandria;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 130px;
}

.circle {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: absolute;
    border-radius: 15px;
}


.header {
    position: relative;
    display: inline-block;
    width: 100%;
}

.menubar {
    float: right;
    font-family: Alexandria;
    font-weight: 400;
    font-size: 15px;
    width: 8%;
    text-align: left;
    margin-top: 3%;
    line-height: 15px;
    color: rgb(71, 71, 71);
}

.m1 {
    margin-right: 60px;
}